/*Feito por PurpleLight001*/
/*By PurpleLight001*/


/*Configurações gerais da página*/
* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 900px;
    background-color: black;
    overflow-x: hidden;
}





/* Customizações da barra de rolagem */
::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
  
::-webkit-scrollbar-track {
  background: rgb(78, 29, 124);
}
  
::-webkit-scrollbar-thumb {
  background: rgb(123, 46, 196);
  border-radius: 50px;
}
  
::-webkit-scrollbar-thumb:hover {
  background: #9c65cf;
}





/*Barra de navegação principal*/
#navbar {
    z-index: 1;
    position:relative;
    user-select: none;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 80px;
    width: 100vw;
}

/*Logo da barra de navegação (Imagem e texto agrupados)*/
#navbar-logo {
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
}

/*Apenas imagem da logo da barra de navegação*/
#navbar-logo img {
    margin-left: 5px;
    width: 40px;
}

/*Apenas texto principal "Purplelight" em h1 */
#navbar-logo h1 {
    color: white;
    font-size: 2rem;
}

/*Apenas texto secundário "HUB" em h2 */
#navbar-logo h2 {
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(123, 46, 196);
    border: 2px solid white;
    border-radius: 15px;
    font-size: 2rem;
}

/*Lista de opções da barra de navegação (Botões: Em alta, Tecnologia, Música, Filmes e Jogos)*/
#navbar-list {
    margin-right: 10px;
    padding: 5px;
    font-family: "Montserrat";
    align-items: center;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    display: flex;
    justify-content: start;
    height: 45px;
    border: 2px solid rgb(123, 46, 196);
    gap: 20px;
    border-radius: 50px;
}

/*Configuração do elemento "a", ele quem permite usar hyperlinks nos botões*/
#navbar-list a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 5vw;
    min-width: 90px;
    max-width: 150px;
}

/*Configuração de todos os elementos da lista de opções da barra de navegação*/
#navbar-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 100%;
    width: 5vw;
    min-width: 90px;
    max-width: 150px;
    font-size: 0.9rem;
    border-radius: 50px;
    transition: all 0.2s;
}

/*Ao passar o cursor do mouse em cima de alguma opção da lista da barra de navegações*/
#navbar-list li:hover {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(123, 46, 196);
    font-size: 1rem;
}

/*Configurações específicas de conteúdos destaque (Aparecem em um banner grande)*/
#main-top {
    z-index: 0;
    color: white;
    background: linear-gradient(black 5%, rgb(123, 46, 196) 50%, black 95%);
}

#secondary-top {
    z-index: 0;
    color: white;
    background: linear-gradient(black 5%, rgb(101, 148, 248) 50%, black 95%);
}





/*Configurações de banner conteúdo destaque*/
.top-content {
    width: 100VW;
    z-index: 0;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    height: 600px;
}

/*Agrupamento de todos os textos e o botão "Assistir Agora" do banner*/
.top-content div {
    margin-left: 10px;
    width: 600px;
}

/*Título do vídeo ou conteúdo do banner*/
.top-content h1 {
    font-size: 2rem;
}

/*Subtítulo do conteúdo / nome do canal*/
.top-content h2 {
    font-size: 1rem;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*Descrição do conteúdo do vídeo do banner*/
.top-content p {
    font-size: 1rem;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Configuração do botão "Assistir Agora"*/
.top-content button {
    border-radius: 30px;
    width: 200px;
    height: 60px;
    background-color: black;
    color: white;
    font-family: "Montserrat";
    font-size: 1.1rem;
    box-shadow: 0px 0px 0px white;
    border: 1px solid transparent;
    transition: all 0.05s;
}

/*Ao clicar no botão "Assistir Agora"*/
.top-content button:active {
    opacity: 0.2;
    border: 2px solid white;
    font-size: 1rem;
    box-shadow: 0px 0px 10px white;
}

/*Configuração da imagem ao lado dos textos*/
.top-content img {
    margin: 10px;
    box-shadow: 5px 10px 25px black;
    width: 50vw;
    max-width: 800px;
    border-radius: 20px;
    border: 1px solid rgb(218, 218, 218);
    transition: all 1s;
}

/*Ao passar o cursor do mouse sobre a imagem*/
.top-content img:hover {
    box-shadow: 5px 10px 55px rgb(223, 223, 223);
    transition: all 0.3s;
}





/*Texto que fica em cima da sessão vários vídeos para categorizar a sessão (Ex: Vídeos de tecnologia)*/
.main-text-session {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: white;
    display: flex;
    text-align: start;
    font-family: "Montserrat";
}





/*Classe da sessão de vários vídeos*/
.contents-tab { 
    width: 100vw;
    height: 310px;
    overflow-x: auto;
    color: white;
    background-color: black;
    display: flex;
}

/*Configuração geral de cada conteúdo da sessão vários vídeos*/
.contents-tab-content {
    text-decoration: none;
    color: white;
    margin: 10px;
    width: 500px;
    background-color: black;
    font-family: "Montserrat";
}

/*Configuração geral de cada imagem nos conteúdos da sessão vários vídeos*/
.contents-tab-content img {
    width: 400px;
    border-radius: 15px;
    opacity: 0.8;
    transition: all 0.2s;
}

/*Ao passar o cursor do mouse sobre alguma imagem da sessão vários vídeos*/
.contents-tab-content img:hover {
    border-radius: 0px;
    opacity: 1;
}

/*Título do conteúdo da sessão vários vídeos*/
.contents-tab-content h1 {
    width: 400px;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.6;
}

/*Subtítulo / nome do canal, do conteúdo da sessão vários vídeos*/
.contents-tab-content h2 {
    font-size: 0.9rem;
    opacity: 0.6;
}

/*Feito por PurpleLight001*/